MD

Python Data Test:

	Open privia.py and edit the filepath for the sample data .xlsx.
	Edit database connection path.


	Required modules: 

		os
		pandas
		sqlalchemy
		sqlalchemy.ext.declarative
		sqlalchemy.orm
		sqlalchemy.schema

SQL Test:

	Original files were converted to use in MySQL and solutions were written for MySQL (TestQuestions1.sql). The provided solutions have been converted to MS SQL (TestQuestions.sql).

	dbo.Contracts.txt flat file data was imported, but question 9 does not exist.



	